.home-aside {
  position: absolute;
  right: 0;
  z-index: 1;
}

.home-background {
  width: 100%;
  position: absolute;
  opacity: 0.7;
}

.home-social-li i {
  /* color: #99a5b6; */
  color: white;
  margin-left: 12px;
  margin-top: 12px;
  margin-right: 12px;
}

.home-social-li .fa-facebook-square:hover {
  color: #395693;
}

.home .fa-instagram-square:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-social-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home-slogan-wrapper {
  display: flex;
  justify-content: end;
  position: relative;
}

.home-slogan {
  font-size: 3vw;
  font-family: 'Bad Script', cursive;
  width: 45%;
  margin: 5%;
  line-height: 1.3;
  color: #705235
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
