.shop-container {
  display: flex;
  justify-content: center;
}

.shop-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shop-form-input {
  padding: 10px;
  min-width: none;
  min-height: 25px;
  width: 300px;
  margin: 15px;
  font-size: 14px;
  font-family: monospace;
}

.shop-form-label {
  margin-top: 25px;
  font-weight: 500;
  color: #705235;
}

.shop-submit-button {
  height: 49px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  background-color: #a97b50;
  border-radius: 3px;
  color: white;
  font-family: monospace;
}

.shop-submit-button:hover {
  background-color: #705235;
}
