.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-ul {
  display: flex;
  height: 176px;
  flex-direction: row;
  justify-content: center; /*horizontal align*/
  align-items: center; /*vertical align*/
}

.header-li,
.header-img,
.header-nav__menu-icon {
  cursor: pointer;
}

.header-li {
  padding: 20px 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  margin: 20px;
}

.header-li:hover {
  border-bottom: 5px solid #a97b50;
  border-top: 5px solid #a97b50;
}

.header-li-link.active {
  font-weight: 600;
}

.header-li-link {
  text-decoration: none;
  font-size: 20px;
  color: #a97b50;
}

.header-li-link:visited {
  color: #a97b50;
}

.header-img {
  height: 150px;
  transition: transform 0.6s ease;
}
.header-img:hover {
  transform: scale(1.1, 1.1);
}

.header-nav__menu,
.header-nav__menu-icon {
  display: none;
}

@media only screen and (max-width: 900px) {
  .header-nav__menu {
    display: block;
  }

  .header-nav__menu-icon {
    display: block;
    color: #c49a6c;
  }

  .header-nav {
    display: none;
  }
}
