* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  background-color: #f4f1ef;
  height: 100%;
  overflow: hidden;
}

ul {
  list-style: none;
}

.display-none {
  display: none;
}
